header#page-header
{
	width: 100%;
	
	padding: 52px 0 0;

	background-image: url('../../upload/header-bg.svg');

	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

@media screen and (max-width: 375px)
{
	header#page-header
	{
		background-size: 90%;
	}
}
@media screen and (min-width: 375px)
{
	header#page-header
	{
		margin-top: 10px;
	}
}

header img.logo
{
	padding: 15px 22px 17px;
	border: 1px solid #6F6065;

	margin: 0 auto;
}